.link_underline{
   font-weight: 600; 
   &._position{
    margin-top: 1em;
    margin-left: 0.5em;
   }
}

.icon_signin{
    border-radius: 10em;
    width: 50px;
}
.row_position
{
    display: inline;
}